body {
    font-family: helvetica;
    color: #444;
}

.board {
    overflow-x: scroll;
    white-space: nowrap;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #d3d3d3;
}

.list-wrapper {
    width: 16em;
    background-color: #eee;
    margin: .5em;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.list {
    background-color: #eee;
    border: none;
    padding: .5em;
    margin-bottom: 2em;
    box-sizing: border-box;
}

.list-header {
    height: 3em;
    line-height: 3em;
    padding: 0 1em;
}

.list-title {
    font-weight: bold;
}

.card {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    min-height: 4em;
    padding: 1em;
    border-radius: 3px;
    margin-bottom: .5em;
    background: #fff;
}

.pull-right {
    float: right;
}

.card-edit {
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    min-height: 4em;
    padding: 1em;
    border-radius: 3px;
    margin-bottom: .5em;
    background: #fff;
    font-size: 1em;
    border: none;
}

.card-edit-controls {
    margin-bottom: .5em;
}

.card-controls {
    position: absolute;
    right: .5em;
    top: .5em;
    display: none;
}

.card:hover .card-controls {
    display: inline-block;
}